extends ../layouts/default

mixin showEditor(a)
  if true
    a(href="https://direct.faforever.com/wp-admin/post.php?action=edit&post=" + a.id).editMode edit !{ a.sortIndex }

block content
  style(type='text/css').
      .editMode {
          color:yellow !important;
      }

  //pre !{ JSON.stringify(content, null, 2) }
  .newshub_container
    .newshub
      // top bar
      if content.topbar
        .announcement
          +showEditor(content.topbar)
          a(href=content.topbar.linkUrl)
            div(style="background:#" + content.topbar.backgroundcolor)
              | !{ content.topbar.paragraph }
      .newshub_flex
        // sidebar left
        if content.sidebarLeft
          #sidebar_left(style="background:#" + content.sidebarLeft.backgroundcolor)
            +showEditor(content.sidebarLeft)
            a(href=content.sidebarLeft.linkUrl)
              img(src=content.sidebarLeft.imageUrl alt="")

        // sidebar right
        if content.sidebarRight
          #sidebar_right(style="background:#" + content.sidebarRight.backgroundcolor)
            +showEditor(content.sidebarRight)
            a(href=content.sidebarRight.linkUrl)
              img(src=content.sidebarRight.imageUrl alt="")

        

        // normalArticles 
        .column1
        
          for a in content.normalArticles

            if (a.position=="hero") 
              // large hero cell
              .article_hero(class=a.customStyle)
                +showEditor(a)
                if a.badge
                  .article_badge
                    span #{ a.badge }
                if a.imageUrl
                  a(href=a.linkUrl)
                    img(src=a.imageUrl alt="")
                a(href=a.linkUrl)
                  h2 #{ a.title }
                  if a.subtitle
                    h3 #{ a.subtitle }
                | !{ a.paragraph }

            else
              // normal cell
              .article_common
                .article_common_content(class=a.customStyle)
                  +showEditor(a)
                  if a.badge
                    .article_badge
                      span #{ a.badge }
                  a(href=a.linkUrl)
                    h3 #{ a.title }
                  if a.imageUrl
                    a(href=a.linkUrl)
                      img(src=a.imageUrl, alt="")
                  | !{ a.paragraph  }

        // rightArticles
        .column3
          for a in content.rightArticles
            .article_column3(class=a.customStyle)
              +showEditor(a)
              if a.badge
                .article_badge
                  span #{ a.badge }
              if a.imageUrl
                a(href=a.linkUrl) 
                  img(src=a.imageUrl, alt="")
              a(href=a.linkUrl) #{ a.title }

        // sidebar middle
        if content.sidebarMiddle
          #sidebar_middle
            +showEditor(content.sidebarMiddle)
            a(href=content.sidebarMiddle.linkUrl)
              img(src=content.sidebarMiddle.imageUrl alt="")
          .endline
